.edit-perfil-content {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.edit-perfil-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-perfil-form label {
  font-weight: bold;
}

.edit-perfil-form input {
  width: 90%; /* Reduzido de 100% para 90% */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-perfil-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #e07b00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-perfil-form button:hover {
  background-color: #d06a00;
}

.error-message {
  color: #f44336;
  font-weight: bold;
}

.success-message {
  color: #4caf50;
  font-weight: bold;
}
